.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 25px 10px 25px;
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 700;
}

.screen-header__icons span {
    margin-left: 25px;
}

.screen-header__icon {
    position: relative;
}

.notify {
    background-color: tomato;
    display: flex;
    position: absolute;
    width: 6px;
    height:6px;
    border-radius: 3px;
    top: -5px;
    right: -5px;
}